*.zip

ngi_project/api/__pycache__/
ngi_project/api/geni_utilities/__pycache__/
ngi_project/frontend/__pycache__/
ngi_project/ngi_project/__pycache__/
ngi_project/api/mystique/*/__pycache__/
__pycache__/

venv/

ngi_project/frontend/static/frontend/

s279434_alberti_enrico_thesis/Abstract/abstract.aux
s279434_alberti_enrico_thesis/Acknowledgement/acknowledgement.aux
s279434_alberti_enrico_thesis/Appendix1/appendix1.aux
s279434_alberti_enrico_thesis/Chapter1/chapter1.aux
s279434_alberti_enrico_thesis/Chapter2/chapter2.aux
s279434_alberti_enrico_thesis/Chapter3/chapter3.aux
s279434_alberti_enrico_thesis/Dedication/dedication.aux
s279434_alberti_enrico_thesis/Declaration/declaration.aux
s279434_alberti_enrico_thesis/Chapter4/chapter4.aux
s279434_alberti_enrico_thesis/Chapter5/chapter5.aux
s279434_alberti_enrico_thesis/Chapter6/chapter6.aux
s279434_alberti_enrico_thesis/alberti_enrico_thesis.aux
s279434_alberti_enrico_thesis/alberti_enrico_thesis.bbl
s279434_alberti_enrico_thesis/alberti_enrico_thesis.blg
s279434_alberti_enrico_thesis/alberti_enrico_thesis.fdb_latexmk
s279434_alberti_enrico_thesis/alberti_enrico_thesis.fls
s279434_alberti_enrico_thesis/alberti_enrico_thesis.idx
s279434_alberti_enrico_thesis/alberti_enrico_thesis.ilg
s279434_alberti_enrico_thesis/alberti_enrico_thesis.ind
s279434_alberti_enrico_thesis/alberti_enrico_thesis.log
s279434_alberti_enrico_thesis/alberti_enrico_thesis.nlo
s279434_alberti_enrico_thesis/alberti_enrico_thesis.out
s279434_alberti_enrico_thesis/alberti_enrico_thesis.synctex.gz
s279434_alberti_enrico_thesis/alberti_enrico_thesis.toc
s279434_alberti_enrico_summary/alberti_enrico_summary.aux
s279434_alberti_enrico_summary/alberti_enrico_summary.fdb_latexmk
s279434_alberti_enrico_summary/alberti_enrico_summary.fls
s279434_alberti_enrico_summary/alberti_enrico_summary.log
s279434_alberti_enrico_summary/alberti_enrico_summary.out
s279434_alberti_enrico_summary/alberti_enrico_summary.synctex.gz
